.about-bg-mada {
    background-image: url("../../assets/mada.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 8rem 2rem 2rem 8rem;
}